{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ program.judul }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row" style="padding-top: 2rem">
            <div class="col-xs-12 col-md-6">
                <img src="{{ program.image }}" class="program-img">
            </div>
            <div class="col-xs-12 col-md-6" style="align-self: center; padding-top: 2rem;">
                <h2>{{ program.judul }}</h2>
                <p class="text-justify">{{ program.konten }}</p>
            </div>
        </div>

        <div class="row" style="padding-top: 3rem;">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="overflow-x: auto;">
                <table class="table" align="center">
                    <thead>
                        <th>Nama</th>
                        <th>E-mail</th>
                        <th>Jumlah Uang</th>
                    </thead>
                    <tbody>
                        {% for data in program_reg %}
                            {% if data.tampilkan %}
                            <tr class="success">
                                <td> {{ data.nama }} </td>
                                <td> {{ data.email }} </td>
                                <td> {{ data.jumlah_uang }} </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>