body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #4195A0;
    font-weight: bold;
    padding: 2rem;
}

h5 {
    font-weight: bold;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow-box {
    box-shadow: 5px 14px 34px rgba(0, 0, 0, 0.1);
}

.shadow-box:hover {
    box-shadow: 5px 14px 34px rgba(0, 0, 0, 0.1);
}

.width {
    width: 40rem;
}

@media only screen and (max-width: 600px) {
    .width {
        width: 20rem;
    }
}

.card-title {
    color: #ffffff;
}