{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/icon" href="{% static 'image/favicon.ico' %}">
    <title>{{ program.judul }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row" style="padding-top: 3rem;">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="overflow-x: auto;">
                        <h2>DonasiKu</h2>
                <table class="table" align="center">
                    <thead>
                        <th>Program</th>
                        <th>Jumlah Uang</th>
                    </thead>
                    <tbody>
                        {% for data in donationlist %}
                            <tr class="success">
                                {% if data.program %}
                                    <td> {{ data.program.judul }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td> {{ data.jumlah_uang }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Total DonasiKu : {{ jumlahDonasi }}</h3>
            </div>
        </div>
    </div>
    <div class="yusuf-padding-akhir"></div>
    {% include 'footer.html' %}
</body>
</html>