{% load static %}
{% load staticfiles %}
    <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
        <footer class="footer-bs">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <img src="{% static 'image/donation.png' %}" class="img-thumbnail" style="width: 6rem; height: 6rem;">
                    <p style="padding-top: 1rem;">Sinar Perak merupakan yayasan penggalang dana yang terbesar di Indonesia. Yayasan ini didirikan sejak tahun 2018. Sejak saat itu juga web ini diresmikan sebagai web penggalang dana untuk orang yang lebih membutuhkan.</p>
                    <p>© 2018 Sinar Perak, All rights reserved</p>
                </div>
                <div class="col-md-4 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-md-6">
                        <ul class="pages">
                            <li><a href="/news/">Berita</a></li>
                            <li><a href="#/program/">Program</a></li>
                            <li><a href="/registration/">Registrasi</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="#">Tentang Kami</a></li>
                            <li><a href="#">Kontak</a></li>
                            <li><a href="#">Syarat dan Ketentuan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 footer-social animated fadeInDown">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
