{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/icon" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Login</title>
  </head>
  <body>

    {% include 'navbar.html' %}

    <div class="yusuf-section-konten" style="height: 60rem; padding-top: 15rem;">
      <div class="yusuf-max-width">
        <div class="align-self-center">
            <h1 class="text-center yusuf-bold">Login</h1>
        </div>
        <div class="yusuf-container-form yusuf-container-konten">
          <form method="POST">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == "error" %}
                  <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% csrf_token %}
            {{ form }}
            <div class="yusuf-container-konten text-center">
              <button type="submit" class="btn btn-primary yusuf-isi-button border-0">
                <span class="yusuf-bold">Login</span>
              </button>
            </div>
          </form>
          <hr>
          <button class="btn btn-light" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}'">
                Login dengan Google
          </button>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% include 'footer.html' %}
  </body>
</html>
